{{>header}}
<div class="container-fluid d-flex justify-content-center mt-5">
<form method="POST" action="/files/update" enctype="multipart/form-data" class="w-50">
   <input type="hidden" name="id" value="{{fileData._id}}"/>
    <div class="form-group mb-3">
        <label for="fileTitle" class="form-label">File Title</label>
        <input type="text" required placeholder="Enter file title" value="{{fileData.fileTitle}}" id="fileTitle" class="form-control" name="fileTitle"/>
    </div>
    {{#ifCond fileData.fileExtension '.txt'}}
        <img height="250px" src="../../images/txt.jpg" class="card-img-top" alt="{{this.fileTitle}}">
    {{else}}
        <img height="250px" src="../../uploads/{{fileData.fileName}}" class="card-img-top" alt="{{this.fileTitle}}">
    {{/ifCond}}
    <div class="form-group mb-3">
        <label for="fileName" class="form-label">Select File</label>
        <input type="file" id="fileNames" value="{{fileData.fileName}}" placeholder="Select File" class="form-control" name="fileNames"/>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
     {{#if success}}  
        <p class="mt-3 text-center text-success">{{success}}</p>                    
    {{/if}}
    {{#if error}}  
        <p class="mt-3 text-center text-danger">{{error}}</p>                    
    {{/if}}
</form>
</div>
{{>footer}}